body {
  display: flexbox;
  width: max-content;
  justify-content: center;
  text-align: center;
}
.existingrules {
  border: 1px solid gray;
  margin: 5px;
}
.listrule {
  margin: 5px;
}
.ruledeletebutton {
  background-image: url("trash_icon.jpg");
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
}
.sensitivitydisplay {
  width: 4ch;
  margin: 5px;
  text-align: right;
}
#rulelist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
  vertical-align: middle;
}
